/* AddPosts.css */

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  

  .button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .app .button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none; /* Removes the default list style */
    padding: 0;
  }
  
  
  .post-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
  }
  
  /* Style for post details */
  .post-details {
    color: #555;
    font-size: 18px;
  }
  .Link {
    font-family: Arial, sans-serif; /* Change font type */
    font-size: 16px; /* Change font size */
    color: white; /* Change font color */
    background-color: green; /* Add background color */
    padding: 10px 20px; /* Add padding around the text */
    margin: 5px; /* Add some margin around the link */
    border: 2px solid navy; /* Add a border */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Round the corners */
    display: inline-block; /* Needed for padding and margin to work properly */
    cursor: pointer; /* Change cursor on hover */
}

.Link:hover {
    background-color: lightgreen; /* Change background on hover */
}
.container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}



.form {
  display: flex;
  flex-direction: column;
  align-items: flex;
}

.app input {
  margin-bottom: 10px;
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 250px; /* Adjust the width as necessary */
}

.button {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.app .button:hover {
  background-color: #45a049;
}
